html,
body {
  min-height: 100%;
}

#__next {
  height: 100%;
}

code {
  font-family: 'Public Sans', sans-serif, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue';
  padding: 0.1rem 0.4rem;
  font-size: 90%;
  color: #d400ff;
  border-radius: 0.1335rem;
}
code:not([class*='language-']):before,
code:not([class*='language-']):after {
  content: '`';
}
code[class*='language-'] {
  padding: 0;
}

/* table style */
.main-table {
  width: 100%;
  border-collapse: collapse;
  display: flex;
  overflow: auto;
  gap: 1.5rem;
  justify-content: space-between;
}
.table-data {
  border-bottom: 1px solid rgba(47, 43, 61, 0.16);
  padding: 8px;
  text-align: center;
}
.headline {
  width: 35rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  text-align: left;
  font-weight: 600;
}
